@font-face {
    font-family: 'Gameboy';
    src: url('assets/gameboy.woff2') format('woff2'),
         url('assets/gameboy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Gameboy', monospace;
  font-size: 20px;
}

body {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
}

button {
  border: 5px solid;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 12px;
}

.board {
  width: calc(50vh + 10px);
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  border-left: 5px solid;
  border-right: 5px solid;
  border-bottom: 5px solid;
  border-radius: 0 0 5px 5px;
  position: relative;
}

.board .overlay {
  display: none;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255,255,255,0.8);
}

.board.game-over .overlay {
  display: flex;
}

.panel {
  padding: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next {
  width: calc(20vh + 10px);
  height: calc(20vh + 10px);
  display: flex;
  flex-wrap: wrap;
  border: 5px solid;
  border-radius: 5px;
  margin: 12px 0;
}

.board div, .next div {
  width: 5vh;
  height: 5vh;
  border: 1px solid white;
}

.shape.O {
  background-color: yellow;
}

.shape.J {
  background-color: blue;
}

.shape.T {
  background-color: pink;
}

.shape.I {
  background-color: cyan;
}

.shape.L {
  background-color: orange;
}

.shape.S {
  background-color: green;
}

.shape.Z {
  background-color: red;
}
